<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,858},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>10_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,858},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>10_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,858},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>10_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,858},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>11_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,858},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>11_of_clubs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>11_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,762},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>11_of_diamonds2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,751},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>11_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,751},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>11_of_hearts2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,751},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>11_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,751},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>11_of_spades2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,751},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>12_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,751},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>12_of_clubs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>12_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,610},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>12_of_diamonds2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,644},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>12_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,644},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>12_of_hearts2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,644},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>12_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,644},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>12_of_spades2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,644},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>13_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,644},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>13_of_clubs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>13_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,537},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>13_of_diamonds2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,537},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>13_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,537},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>13_of_hearts2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,537},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>13_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,537},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>13_of_spades2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,537},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>1_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>1_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,458},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>1_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,430},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>1_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,430},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>1_of_spades2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,430},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>2_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,430},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>2_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,430},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>2_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,430},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>2_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>3_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>3_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,323},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>3_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,323},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>3_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,323},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>4_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,323},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>4_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,323},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>4_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,323},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>4_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>5_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,216},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>5_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,216},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>5_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,216},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>5_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,216},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>6_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,216},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>6_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,216},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>6_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>6_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>7_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,109},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>7_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,109},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>7_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,109},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>7_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,109},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>8_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,109},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>8_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,109},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>8_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>8_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>9_of_clubs.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>9_of_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>9_of_hearts.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>9_of_spades.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>black_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>red_joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1173,965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69f8db6b144bb029dc1ba12ac3ada606$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
